
:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#container {
    /*border: 1px solid blue;*/
    padding: 20px;
    height: 10px;
    width: 40px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#menu:hover {
    background: none;
}

#container:hover {
    background:transparent;
}

#menu:hover::before {
    opacity: 100%;
    transform: rotate(-45deg);
    top: 0;
}

#menu:hover::after {
    opacity: 100%;
    transform: rotate(45deg);
    top: 0;
}